.postit {
    width: 43vw;
    height: 24vh;

    color: #343434;
    padding: 1rem;

    h6 {
        font-size: .9rem;
        text-align: center;
        margin: 0 0 1rem 0;
    }

    p {
        font-size: .65rem;
        margin-bottom: 1rem;
        
        //max-height: 19vh;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 10;
        line-clamp: 10;
    }
}