<div class="postit-modal" [style.background-color]="color">
  <span class="postit-modal--close" (click)="modalController.dismiss()">X</span>
  <header>
    <input 
    class="postit-modal--title" 
    type="text" 
    [(ngModel)]="postit.title" 
    placeholder="Título da nota"></header>

  <main>
    <textarea 
    class="postit-modal--annotation"  
    [(ngModel)]="postit.annotation" 
    placeholder="Inserir anotações aqui..."></textarea>
  </main>

  <footer>
    <span (click)="savePostit()">Colar no mural</span>
  </footer>
</div>