:host {
    display: flex;
    align-items: center;
    justify-content: center;
}

.postit-modal {
    position: relative;


    width: 85vw;
    height: 65vh;
    padding: 2rem;

    color: #343434;

    &--close {
        position: absolute;
        right: 1rem;
    }

    &--title {
        margin-bottom: 2rem;
        font-size: 1.5rem;

        border: none;
        background-color: transparent;
        outline: none;
    }
    
    &--annotation {
        font-size: .9rem;
        
        border: none;
        background-color: transparent;
        outline: none;
        resize: none;

        min-height: 40vh;
    }

    footer {
        display: flex;
        justify-content: center;

        span {
            font-style: italic;
            font-weight: 500;
    
            text-align: center;
            color: #707070
        }
    }
}