.background {
    width: 100%;
    height: 35vh;
    object-fit: cover;
}

.detail {
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.3;
    object-fit: cover;
}

.container {
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;

    height: 95vh;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    background-color: #fff;
    transition: transform 300ms ease-in;

    transform: translateY(-60px);

    &--header {
        padding: 5vh 0 5vh 0;

        app-logo {
            width: 22%;
            transition: width 500ms;
        
            @media screen and (min-width:600px) {
                width: 15%;
            }

            @media screen and (min-width:800px) {
                width: 10%;
            }
        }
    }

    &--header__row {
        display: flex;
        flex-direction: row;
        padding: 0;

        width: 80%;
        height: 13vh;
        transition: width 500ms;

        img {
            width: 4%;
            margin-right: 3%;
        }

        app-logo {
            width: 11%;
        }
    }


    &--inputs {
        animation: fade 0.5s;
        display: flex;
        flex-direction: column;
        width: 80%;

        span {
            color: #707070;
            font-weight: bold;
            letter-spacing: 1px;
            margin-bottom: 0.5rem;
            font-style: italic;
            font-size: 0.88rem;
            padding-left: 1rem;
        }
    }

    p {
        color: #707070;
        margin-top: 1.5rem;
        font-size: 0.85rem;

        span {
            color: #2D9FDB;
            text-decoration: none;
        }
    }
}

.container--sign {
    transform: translateY(-270px);


    p {
        color: #707070;
        margin: 1.5rem 1rem 0 1rem;
        font-size: 0.7rem;
    }

    p:nth-last-of-type(1) {
        margin-top: .5rem;
    }
}

.container--login {
    animation: .5s ease-out 0s 1;
}

.disabled {
    opacity: 0.6;
    pointer-events: none;
}

app-half-circle-spinner {
    margin-left: 1rem;
}


@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
