<div class="profile">
  <img class="detail" src="assets/imgs/background.svg">

  <div class="container">
    <div class="p--container">
      <img id="hamburger" (click)="isSettingsEnabled = true" class="p--container--menu" src="assets/imgs/hamburger_menu.svg">
      <ion-avatar class="p--container--avatar">
        <img [src]="myUser?.imageUrl || 'assets/imgs/user/user-example-1.jpg'" alt="">
      </ion-avatar>
      <span class="p--container--name">{{ myUser?.name }}</span>
      <span class="p--container--role">{{ myUser?.role }}</span>
    </div>
    <div class="n--container">
      <span class="n--container--title">notas públicas</span>

      <main>
        <ng-container *ngFor="let post of postitArray">
          <div class="profile-item">
            <app-profile-item [postit]="post"></app-profile-item>
          </div>
        </ng-container>
      </main>
    </div>
  </div>
</div>

<section
  class="config"
  [class.settings-enable]="isSettingsEnabled">
  <header>

    <ion-icon class="config--backbutton"
     name="arrow-back-outline"
     (click)="isSettingsEnabled = false"
     ></ion-icon>

    <span><b>Ajustes</b></span>
  </header>

  <div class="config--list">
  <p (click)="clickConfigList(0)">Ajustes</p>
  <p (click)="clickConfigList(1)">Ajustes</p>
  <p (click)="clickConfigList(2)">Ajustes</p>
  <p (click)="clickConfigList(3)">Sair</p>
  </div>

  <footer>
    <img src="assets/imgs/login_logo.svg" alt="">
  </footer>

</section>


<div class="brightness" [class.settings-enable--brightness]="isSettingsEnabled"></div>